.container {
    background: var(--primary);
    color: var(--font-color-dark);
    width: 30rem;
    height: 30vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    .actions {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }
}
