.button {
    background: var(--tertiary);
    color: var(--font-color-light);
    border: none;
    border-radius: 100px;
    padding: 0.3rem 0.9rem;
    font-size: 1.3rem;

    &:active {
        transform: scale(0.97);
    }

    img {
        height: 1.2rem;
    }
}